# Analisis Exploratorio - Relaci贸n Entre Variables

Una vez finalizado el proceso de extracci贸n y limpieza de los archivos de clima, calidad del aire, usos diarios de BiciMAD y accidentes, pasaremos a juntar la informaci贸n con una periodicidad diaria para asi realizar un analisis exploratorio que nos permita llegar a conclusiones sobre la relaci贸n entre las variables y entender el efecto que puedan tener las variables independientes (clima, calidad del aire, accidentes) sobre la variable dependiente (uso de BiciMAD).

In [2]:
import pandas as pd
import numpy as np
from datetime import date, datetime
import matplotlib.pyplot as plt
import seaborn as sns
import psycopg2 as pg
from psycopg2 import sql

Cargamos los archivos de la base de datos y las cargamos en un DataFrame.

In [133]:
conn = pg.connect("database://user:password@postgre-sqltest.cxxxxzufj1.us-west-2.rds.amazonaws.com:port/database")
weather = pd.read_sql('SELECT date, precipitation, temp_min, temp_media, temp_max, wind_speed, wind_speed_max FROM weather_conditions', conn)
conn.commit()
conn.close()

In [135]:
weather = weather.sort_values('date', ascending=True)
weather = weather.reset_index()
weather.drop(weather.columns[0], axis=1, inplace=True)

In [215]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1859 entries, 0 to 1858
Data columns (total 7 columns):
date              1859 non-null object
precipitation     1859 non-null float64
temp_max          1859 non-null float64
temp_media        1859 non-null float64
temp_min          1859 non-null float64
wind_speed        1859 non-null float64
wind_speed_max    1859 non-null float64
dtypes: float64(6), object(1)
memory usage: 101.7+ KB

In [118]:
conn = pg.connect("database://user:password@postgre-sqltest.cxxxxzufj1.us-west-2.rds.amazonaws.com:port/database")
accidents = pd.read_sql('SELECT date, age, victims, district FROM accidents', conn)
conn.commit()
conn.close()

In [122]:
accidents = accidents.sort_values('date', ascending=True)
accidents = accidents.reset_index()
accidents.drop(accidents.columns[0], axis=1, inplace=True)

In [145]:
accidents.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3660 entries, 0 to 3659
Data columns (total 4 columns):
date        3660 non-null datetime64[ns]
age         3660 non-null float64
victims     3660 non-null int64
district    3660 non-null object
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 114.5+ KB

In [6]:
conn = pg.connect("database://user:password@postgre-sqltest.cxxxxzufj1.us-west-2.rds.amazonaws.com:port/database")
air = pd.read_sql('SELECT date, ozono, dioxido_nitrogeno FROM air_quality', conn)
conn.commit()
conn.close()

In [126]:
air = air.sort_values('date', ascending=True)
air = air.reset_index()
air.drop(air.columns[0], axis=1, inplace=True)

In [220]:
air.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1823 entries, 0 to 1822
Data columns (total 3 columns):
date                 1823 non-null object
ozono                1823 non-null float64
dioxido_nitrogeno    1823 non-null float64
dtypes: float64(2), object(1)
memory usage: 42.8+ KB

In [32]:
conn = pg.connect("database://user:password@postgre-sqltest.cxxxxzufj1.us-west-2.rds.amazonaws.com:port/database")
bicis_usos = pd.read_sql('SELECT date, anual_total_use_day FROM user_total_statistics', conn)
conn.commit()
conn.close()

,DIA,Usos bicis abono anual,Usos bicis abono ocasional,Usos bicis total,Usos abono anual acumulado,Usos abono ocasional acumulado,Usos total acumulado desde inicio,Unnamed: 7
0,23/06/2014,17,79,96,17,79,96,NaN
1,24/06/2014,24,48,72,41,127,168,NaN
2,25/06/2014,105,14,119,146,141,287,NaN
3,26/06/2014,120,15,135,266,156,422,NaN
4,27/06/2014,131,18,149,397,174,571,NaN

In [ ]:
bicis_usos = bicis_usos.sort_values('date', ascending=True)
bicis_usos = bicis_usos.reset_index()
bicis_usos.drop(bicis_usos.columns[0], axis=1, inplace=True)

Convertimos la tabla de accidentes a serie de tiempo para juntar los datos a una periodicidad diaria.

In [156]:
accT = accidents.set_index(accidents.date)
acc_dia = accT.resample('D').count()

In [157]:
acc_dia['date1'] = acc_dia.index
acc_dia['date1'] = [str(i) for i in acc_dia.date1]
acc_dia.drop(acc_dia.columns[0:3], axis=1, inplace=True)
acc_dia.columns = ['accidents', 'date']
acc_dia.date = acc_dia.date.str[0:10]

In [178]:
acc_dia.head()

            accidents        date
date
2014-01-08          1  2014-01-08
2014-01-09          2  2014-01-09
2014-01-10          0  2014-01-10
2014-01-11          1  2014-01-11
2014-01-12          0  2014-01-12

In [66]:
import math
def remove_Nan(element):
    if math.isnan(element):
        return accT.edad.median()
    else:
        return element
    
accT['edad'] = accT.edad.apply(remove_Nan)

In [166]:
acc_m = accT.resample('D').median()
acc_m['date1'] = acc_m.index
acc_m['date1'] = [str(i) for i in acc_m.date1]
acc_m.date1 = acc_m.date1.str[0:10]
acc_m.drop(acc_m.columns[1], axis=1, inplace=True)
acc_m.columns = ['age_acc', 'date']

In [177]:
acc_m.head()

            age_acc        date
date
2014-01-08     19.0  2014-01-08
2014-01-09     39.5  2014-01-09
2014-01-10      NaN  2014-01-10
2014-01-11     27.0  2014-01-11
2014-01-12      NaN  2014-01-12

In [170]:
acc_v = accT.resample('D').sum()
acc_v['date1'] = acc_v.index
acc_v['date1'] = [str(i) for i in acc_v.date1]
acc_v.date1 = acc_v.date1.str[0:10]
acc_v.drop(acc_v.columns[0], axis=1, inplace=True)
acc_v.columns = ['victims', 'date']

In [181]:
acc_v.head()

            victims        date
date
2014-01-08        1  2014-01-08
2014-01-09        2  2014-01-09
2014-01-10        0  2014-01-10
2014-01-11        1  2014-01-11
2014-01-12        0  2014-01-12

Una vez teniendo todas las tablas transformadas podemos realizar un merge para juntar las variables de usos de BiciMAd, clima y contaminaci贸n.

In [182]:
acc_daily = acc_v.merge(acc_dia)

C:\Users\alejo\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: 'date' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  """Entry point for launching an IPython kernel.

In [184]:
acc_daily = acc_daily.merge(acc_m)

C:\Users\alejo\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: 'date' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  """Entry point for launching an IPython kernel.

In [206]:
acc_daily.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1817 entries, 0 to 1816
Data columns (total 4 columns):
date         1817 non-null object
age_acc      1516 non-null float64
victims      1817 non-null int64
accidents    1817 non-null int64
dtypes: float64(1), int64(2), object(1)
memory usage: 71.0+ KB

In [196]:
bicis_usos.columns = ['date', 'annual_user']

In [200]:
def cast_date(date):
    return datetime.strptime(date, '%d/%m/%Y')

bicis_usos['date'] = bicis_usos.date.apply(cast_date)
bicis_usos['date'] = [str(i) for i in bicis_usos.date]
bicis_usos.date = bicis_usos.date.str[0:10]

In [205]:
bicis_usos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1653 entries, 0 to 1652
Data columns (total 3 columns):
date               1653 non-null object
annual_user        1653 non-null int64
occasional_user    1653 non-null int64
dtypes: int64(2), object(1)
memory usage: 38.8+ KB

In [207]:
bicimad = bicis_usos.merge(acc_daily)

In [217]:
weather['date'] = [str(i) for i in weather.date]

In [218]:
bicimad = bicimad.merge(weather)

In [221]:
air['date'] = [str(i) for i in air.date]

In [222]:
bicimad = bicimad.merge(air)

Exportamos la tabla a CSV.

In [224]:
bicimad.to_csv('../dat/merge_variables.csv')

In [5]:
merged = pd.read_csv('../dat/merge_variables.csv', index_col=0)
merged.head()

,date,annual_user,occasional_user,age_acc,victims,accidents,precipitation,temp_max,temp_media,temp_min,wind_speed,wind_speed_max,ozono,dioxido_nitrogeno
0,2014-06-23,17,79,32.0,2,1,0.0,29.7,23.2,16.6,1.7,9.2,59.0,20.0
1,2014-06-24,24,48,NaN,0,0,0.0,19.8,18.4,17.0,1.7,8.9,61.0,17.0
2,2014-06-25,105,14,36.5,2,2,1.7,27.0,21.6,16.2,1.4,5.8,74.0,20.0
3,2014-06-26,120,15,29.5,4,4,0.4,26.2,20.8,15.5,0.6,5.8,65.0,21.0
4,2014-06-27,131,18,37.0,3,3,0.0,30.4,23.7,17.0,2.2,10.0,60.0,23.0

In [8]:
def cast_date(date):
    return datetime.strptime(date, '%Y-%m-%d')

merged['date'] = merged.date.apply(cast_date)
mergedT = merged.set_index(merged.date)

In [13]:
mergedT['month'] = mergedT.apply(lambda fila: fila.date.month, axis=1)
mergedT['year'] = mergedT.apply(lambda fila: fila.date.year, axis=1)
mergedT['weekday'] = mergedT.apply(lambda fila: fila.date.weekday(), axis=1)

In [52]:
mergedT.head()

,date,annual_user,occasional_user,age_acc,victims,accidents,precipitation,temp_max,temp_media,temp_min,wind_speed,wind_speed_max,ozono,dioxido_nitrogeno,month,year,weekday
date,,,,,,,,,,,,,,,,,
2014-06-23,2014-06-23,17,79,32.0,2,1,0.0,29.7,23.2,16.6,1.7,9.2,59.0,20.0,6,2014,0
2014-06-24,2014-06-24,24,48,NaN,0,0,0.0,19.8,18.4,17.0,1.7,8.9,61.0,17.0,6,2014,1
2014-06-25,2014-06-25,105,14,36.5,2,2,1.7,27.0,21.6,16.2,1.4,5.8,74.0,20.0,6,2014,2
2014-06-26,2014-06-26,120,15,29.5,4,4,0.4,26.2,20.8,15.5,0.6,5.8,65.0,21.0,6,2014,3
2014-06-27,2014-06-27,131,18,37.0,3,3,0.0,30.4,23.7,17.0,2.2,10.0,60.0,23.0,6,2014,4